<header>
  <div>
    <div class="container">
      <a href="#" class="logo">DAWeC</a>
      <nav>
        <ul>
          <li><a *ngIf="loginService.isUserLoggedIn()" href="#" routerLink="/">Home</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" href="#" routerLink="/search">Search</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" href="#" routerLink="/products">Products</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" href="#" routerLink="/history">History</a></li>
          <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
