<div class="container">
  <h1 mat-dialog-title>Update feedback</h1>
  <form (ngSubmit)="onSubmitFeedback()">
    <!-- Notes input -->
    <div class="form-group">
      <label for="textNote">Notes</label>
      <input type="text"
             placeholder="Note"
             name="textNote"
             id="textNote"
             [(ngModel)]="model.textNote">
    </div>

    <div class="form-group">
      <label for="score">Score</label>
      <input type="number"
             id="score"
             name="score"
             class="form-control"
             placeholder="0.00 ÷ 10.00"
             (keyup)="onKeyUpScore($event)"
             [min]="min" [max]="max" [step]="step"
             [(ngModel)]="model.score">
      <div [hidden]="!invalidScoreInput" class="alert alert-danger">Insert a number between 0 and 10</div>
    </div>

    <!-- Preferred checkbox -->
    <div class="form-group">
      <label for="preferred">Preferred?</label>
      <input type="checkbox"
             id="preferred"
             name="preferred"
             [(ngModel)]="model.preferred">

    </div>

    <!-- Submit button -->
    <button [disabled]="invalidScoreInput" class="btn btn-success">Save</button>
  </form>
</div>
