<!-- Filter form -->
<div class="container">
  <h1>Filter products</h1>
  <form (ngSubmit)="onSubmit()" #filterForm="ngForm">
    <!-- Filter text -->
    <div class="form-group">
      <label for="filterText">Text to filter</label><br>
      <input type="text" id="filterText"
             [(ngModel)]="model.filterText" name="filterText"
             #inputModel="ngModel">
    </div>

    <!-- History filter -->
    <div class="form-group">
      <label for="historyFilter">History</label>
      <select class="form-control" id="historyFilter"
              [(ngModel)]="model.historyFilter" name="historyFilter">
        <option *ngFor="let search of searchesString" [value]="search">{{search}}</option>
      </select>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-success">Filter</button>
  </form>
</div>

<!-- "Products" list -->
<div class="container">
  <h1>Products</h1>
  <ul *ngIf="products">
    <li *ngFor="let product of filteredProducts">
      <p class="id">{{product.id}}</p>
      <p class="name">{{product.name}}</p>
      <p class="asin">{{product.asin}}</p>
      <p class="url">{{product.url}}</p>
      <img class="imageUrl" [src]="product.imageUrl" alt="Product picture">
      <p class="description">{{product.description}}</p>

      <label for="searchId">Search ID:</label>
      <p class="searchId" id="searchId">{{product.searchId}}</p>

      <label>Feedback</label>
      <p class="score">{{product.score}}</p>
      <p class="textNote">{{product.textNote}}</p>
      <p class="preferred">{{product.preferred}}</p>
      <button type="button" class="btn btn-secondary"
              (click)="openDialog(product.id, product.score, product.preferred, product.textNote)">Update feedback
      </button>
    </li>
  </ul>
</div>

<!-- Extra space on the bottom -->
<div class="container"><br><br></div>
