<div class="container">
  <h1>Authentication</h1>
  <form (ngSubmit)="checkLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="usernameText">Username: </label>
      <input id="usernameText" type="text" name="username"
             required
             [(ngModel)]="username" #usernameText="ngModel">
    </div>
    <div class="form-group">
      <label for="passwordText">Password: </label>
      <input id="passwordText" type="password" name="password"
             required
             [(ngModel)]="password" #passwordText="ngModel">
    </div>

    <div [hidden]="!invalidLogin"
         class="alert alert-danger">Login credentials are invalid.
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!passwordText.valid || !usernameText.valid">Login</button>
  </form>
</div>
