<div class="container">
  <h1>Search history</h1>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="searches" class="mat-elevation-z8"
           matSort matSortDisableClear matSortDirection="desc">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let search"> {{search.id}} </td>
      </ng-container>

      <!-- searchParams Column -->
      <ng-container matColumnDef="searchParams">
        <th mat-header-cell *matHeaderCellDef> Search parameters</th>
        <td mat-cell *matCellDef="let search"> {{search.searchParams}} </td>
      </ng-container>

      <!-- searchDate Column -->
      <ng-container matColumnDef="searchDate">
        <th mat-header-cell *matHeaderCellDef> Date and time</th>
        <td mat-cell *matCellDef="let search"> {{search.searchDate | date:'medium'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>

<!-- Extra space on the bottom -->
<div class="container"><br><br><br></div>
