<div class="container">
  <h1>Search </h1>
  <form (ngSubmit)="onSubmit(template)">

    <!-- Search text input -->
    <div class="form-group">
      <label for="inputText">Search text (for multiple searches use multiple lines)</label>
      <textarea class="form-control" id="inputText" name="inputText"
                required placeholder="Search phrase"
                [(ngModel)]="model.inputText"
                #inputText="ngModel"></textarea>
      <div [hidden]="inputText.valid"
           class="alert alert-danger">
        This field is required
      </div>
    </div>

    <!-- Target site -->
    <div class="form-group">
      <label for="targetSite">Target site</label>
      <select class="form-control" id="targetSite"
              [(ngModel)]="model.targetSite" name="targetSite">
        <option *ngFor="let site of targetSites" [value]="site">{{site}}</option>
      </select>
    </div>

    <!-- Search limit -->
    <div class="form-group">
      <label for="searchLimit">Search limit</label>
      <input type="number"
             id="searchLimit"
             name="searchLimit"
             class="form-control"
             required
             (keyup)="onKeyUpSearchLimit($event)"
             [min]="minSearchLimit" [step]="step"
             [(ngModel)]="model.searchLimit">
      <div [hidden]="!invalidSearchLimitInput"
           class="alert alert-danger">Insert a positive integer number (or -1 for uncap)
      </div>
    </div>


    <!-- Number of proxies -->
    <div class="form-group">
      <label for="numberOfProxies">Number of proxies</label>
      <input type="number"
             id="numberOfProxies"
             name="numberOfProxies"
             class="form-control"
             required
             (keyup)="onKeyUpProxies($event)"
             [min]="min" [step]="step"
             [(ngModel)]="model.numberOfProxies">
      <div [hidden]="!invalidProxiesInput"
           class="alert alert-danger">Insert a positive integer number
      </div>
    </div>


    <!-- Details -->
    <div class="form-group">
      <label for="details">Details</label>
      <input type="checkbox" class="form-control" id="details"
             [(ngModel)]="model.details" name="details">
    </div>

    <!-- Automatic execution of the scraper -->
    <div class="form-group">
      <label for="automaticMode">Automatic mode</label>
      <input type="checkbox" class="form-control" id="automaticMode"
             [(ngModel)]="model.automaticMode" name="automaticMode">
    </div>

    <!-- Frequency -->
    <div class="form-group" [hidden]="model.automaticMode == false">
      <label for="frequency">Frequency</label>
      <select class="form-control" id="frequency"
              [(ngModel)]="model.frequency" name="frequency">
        <option *ngFor="let frequency of frequencies" [value]="frequency">{{frequency}}</option>
      </select>
    </div>

    <!-- Time of input -->
    <div class="form-group" [hidden]="model.automaticMode == false">
      <label for="automaticTime">Time of search: </label>
      <input type="time" class="form-control" id="automaticTime"
             required
             name="automaticTime"
             [(ngModel)]="model.automaticTime" #automaticTime="ngModel">
      <div [hidden]="automaticTime.valid"
           class="alert alert-danger">
        This field is required
      </div>
    </div>

    <!-- Timeout -->
    <div class="form-group" [hidden]="model.automaticMode == false">
      <label for="timeout">Timeout (s)</label>
      <input type="number"
             id="timeout"
             name="timeout"
             class="form-control"
             (keyup)="onKeyUpTimeout($event)"
             [min]="min" [step]="step"
             [(ngModel)]="model.timeout">
      <div [hidden]="!invalidTimeoutInput"
           class="alert alert-danger">Insert a non negative integer number
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-success"
            [disabled]="invalidProxiesInput || invalidSearchLimitInput || !inputText.valid || invalidTimeoutInput">
      Submit
    </button>
    <ng-template #template>
      <div>The request has been submitted.</div>
    </ng-template>

    &nbsp;
    <button type="button" class="btn btn-default" (click)="defaultSearchMessage(this.id);">Restore default</button>

  </form>
</div>
